@model LibraryMVC.Dtos.Books.BookAddEditDto

<h2>Edit Book</h2>

<form method="post" asp-controller="Book" asp-action="Edit">
    <div class="form-group mb-1">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter book's title" required>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="Blurb">Blurb</label>
        <textarea asp-for="Blurb" type="text" class="form-control" placeholder="Enter blurb"></textarea>
    </div>
    <div class="form-group mb-1">
        @Html.LabelFor(m => m.AuthorId, "Author")
        @Html.DropDownListFor(m => m.AuthorId, (SelectList)ViewBag.Authors, "Select Author", new { @class = "form-control", required = "required" })
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        @Html.LabelFor(m => m.GenreId, "Genre")
        @Html.DropDownListFor(m => m.GenreId, (SelectList)ViewBag.Genres, "Select Genre", new { @class = "form-control", required = "required" })
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-secondary me-1" asp-controller="Book" asp-action="Index" formnovalidate>Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>