@model LibraryMVC.Dtos.Authors.AuthorAddEditDto

<h2>Edit Author</h2>

<form method="post" asp-controller="Author" asp-action="Edit">
    <div class="form-group mb-1">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter first name">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" placeholder="Enter last name">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-secondary me-1" asp-controller="Author" asp-action="Index" formnovalidate>Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>