@model IEnumerable<LibraryMVC.Dtos.Genres.GenreDto>

@{
    ViewData["Title"] = "Genres";
}

<h2>Genres</h2>

<a href="@Url.Action("Create", "Genre")" class="btn btn-primary">Create Genre</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>
                    <a class="btn btn-sm btn-secondary me-1" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
